<div class="card">
    <div class="card-header">
        Active budget: {{active_budget.purpose}}
    </div>
    <div class="card-body">
        <p class="card-title">Budgeting period from {{active_budget.from_date}} to {{active_budget.to_date}}.</p>
        <p class="card-text">The goal of this budget is to reach {{active_budget.goal}} by the end of its period.</p>
        <p class="card-text">The current balance is {{active_budget.overall_balance}}.</p>
        <div class="d-flex flex-wrap gap-1">
            <a href="{% url 'budget_entries' active_budget.uuid %}" class="btn btn-primary">Check entries</a>
        </div>
    </div>
    <div class="card-footer text-body-secondary">
        <p>Created on {{active_budget.created_at}}</p>
    </div>
</div>