{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

<h4>
    {% if category.id %} Edit Category - {{ category.name }} {% else %} Add Category {% endif %}
</h4>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <a class="btn btn-secondary" href="{% url 'categories' %}">Cancel</a>
    <button type="submit" class="btn btn-primary">
        {% if category.id %} Update Category {% else %} Add Category {% endif %}
    </button>
</form>
{% endblock content %}
