{% extends 'layout/root.html' %}
{% load static %}

{% block base %}
{% include 'layout/navbar.html' %}
<div class="container-fluid">
    <div class="row vh-100">

        <aside class="col-2 p-0">
            {% include 'layout/sidebar.html' %}
        </aside>

        <main class="col-10 bg-secondary-subtle">
                <!-- <div class="row">
                    <div class="col-12">
                        {% include 'layout/breadcrumb.html' %}
                    </div>
                </div> -->
            {% block content %}
            {% endblock %}
        </main>

    </div>
</div>
{% endblock base %}