{% extends 'layout/simple-page.html' %}
{% load static %}
{% block simplecontent %}
{% if user.is_authenticated %}
<h1>Welcome, {{ user.first_name }}!</h1>
{% else %}
<div class="container p-4">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'images/undraw_projections_re_ulc6.svg' %}" class="img-fluid" alt="Personal finance">
        </div>
        <div class="col-md-6">
            <p class="lead">User registration</p>
            <form method="POST" action="">
                {% csrf_token %}
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock simplecontent %}