{% extends 'layout/simple-page.html' %}
{% block simplecontent %}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    Setup Budget
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if budget %}
                        <a class="btn btn-secondary" href="{% url 'budget_details' budget.uuid %}">Cancel</A>
                        {% else %}
                        <a class="btn btn-secondary" href="{% url 'home' %}">Cancel</A>
                        {% endif %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock simplecontent %}